<!-- https://www.stevemcarthur.co.uk/semantic-blog-template/# -->
<div class="ui rounded inverted segment row">

  <div class="sixteen wide column" role="content">
    <article>
      <h2>
        {{TitleOfBlog}}
      </h2>
    
      <h4 id="author">
        Written by {{author}} on {{date}}
      </h4>
        <hr>
      <div class="ui grid">
        <div class="ui row">
          <div class="eight wide column ">
            <p>{{Text1}}</p>
            <p>{{Text2}}</p>
            <p>{{Text3}}</p>
          </div>
          <br />
          <div class="eight wide column">
            <img class="ui image rounded fluid" src="{{Image}}" />
          </div>
        </div>
      </div>
    </article>
    <hr />
  </div>
</div>