
{{#unless notelist.notes}}
  <p class="ui center opaque aligned message">It's very quiet in here... start adding some notes!</p>
{{/unless}}

{{#if notelist.notes}}
<table class="ui centered inverted black striped table">
  <thead>
    <tr>
      <th class="four wide">Title</th>
      <th class="four wide">Due Date</th>
      <th class="three wide">Day's Till Due Date</th>
      <th class="one wide"> </th>
      <th class="one wide"> </th>
      <th class="one wide"> </th>
    </tr>
  </thead>
<tbody>
    {{#each notelist.notes}}
    <form class = "ui stacked segment form" action="/notelist/{{../notelist.id}}/updatenote/{{id}}" method="POST"  enctype="multipart/form-data" >
    <tr class="fields">
      <td class="field">
        <span class="ui input">
         <input type="text" name="title" autofocus required title = "Please include a valid Title" placeholder="Title" value = "{{title}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="date" name="dueDate" required title = "Please include a due date" placeholder="Due Date" value = "{{dueDate}}">
        </span>
      </td>
      
      <td class="">
        <h2 class="ui center aligned">
          {{ daysUntilDue dueDate}}
        </h2>
      </td>
      
      
     <td class="field">
  <span class="ui  input">
    <textarea name="note" autofocus required title="Please include note" placeholder="Note" rows="5" 
    cols="50">{{note}}</textarea> 
  </span>
</td>

      <td class="field">
      
        <input placeholder="Image Reminder" type="file" name="image" required>
   
        <span class="ui input">
        <img class="ui rounded small image" src="{{image}}">
        </span>
      </td>
      <td class="center aligned">
        <button class="ui submit icon button"><i class="ui pencil alternate icon"></i></button>
      </td>
      <td class="center aligned">
        <a href="/notelist/{{../notelist.id}}/deletenote/{{id}}" class="ui icon button delnote">
          <i class="ui trash icon"></i>
        </a>
      </td>
    </tr>
    </form> 
    {{/each}}
  </tbody>
</table>
{{/if}}


