<table class="ui fixed inverted rounded black striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    {{#each notelist.notes}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{dueDate}}
        </td>
        <td>
          {{note}}
        </td>
      <td>
<a href="/notelist/{{../notelist.id}}/deletenote/{{id}}" class="ui icon inverted grey tiny button delnote">
  <i class="ui trash icon"></i>
</a>
</td>
        
     
       
      </tr>
    {{/each}}
  </tbody>
</table>